#main-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 50px;
	flex-direction: column;
}
.sub-title{font-size: 30px;}
#title{font-size: 45px; font-weight: bold;}
.link{
	padding: 18px;
	border-radius: 8px;
	font-size: 25px;
	text-decoration: None;
	margin: 10px;
}
.on{
	background: #F5F5F5;
	border: 3px solid black;
	color: black;
}
.off{
	background: #212121;
	border: 3px solid #E0E0E0;
	color: white;
}
.container{
	display: flex;
}
.on:hover{background: #E0E0E0;}
.off:hover{background: #424242;}
